<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doctor Dashboard</title>

    <link rel="icon" href="/assets/favicon.ico">

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/assets/css/adminDashboard.css}">
    <link rel="stylesheet" th:href="@{/assets/css/doctorDashboard.css}">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">

    <!-- JS -->
    <script th:src="@{/js/render.js}" defer></script>
    <script th:src="@{/js/util.js}" defer></script>

    <script th:src="@{/js/components/header.js}" defer></script>
    <script th:src="@{/js/components/footer.js}" defer></script>
    <script th:src="@{/js/components/patientRows.js}" defer></script>

    <script type="module" th:src="@{/js/services/patientServices.js}" defer></script>
    <script type="module" th:src="@{/js/services/doctorDashboard.js}" defer></script>
</head>

<body>

<div class="container">
    <div class="wrapper">

        <!-- HEADER -->
        <div id="header"></div>

        <!-- MAIN CONTENT -->
        <main class="main-content">

            <!-- SEARCH -->
            <input type="text" id="searchBar" placeholder="Search patient..." />

            <!-- FILTERS -->
            <div class="filter-section">
                <button id="todayBtn" class="button">Today's Appointments</button>
                <input type="date" id="dateFilter" />
            </div>

            <!-- TABLE -->
            <table id="patientTable">
                <thead>
                <tr>
                    <th>Patient ID</th>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Prescription</th>
                </tr>
                </thead>
                <tbody id="tableBody">
                <!-- JS ile doldurulacak -->
                </tbody>
            </table>

            <p id="noData" class="noPatientRecord">No patient records found</p>

        </main>

        <!-- FOOTER -->
        <div id="footer"></div>

    </div>
</div>

</body>
</html>